*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif ;
    font-size:smaller;
}
.center{
    width: 1200px;
    margin: 0 auto;
}
.top{
    background-color:#131313;
    
   
}
.top .item ul li{
    display: inline-block;
    font-size: 10px;
}
.top .item ul li a{
    display:inline-block;
    text-decoration: none;
    color:#fff;
    padding:10px;
   
}
.top .item i.ic{
    padding-right: 5px;
}
.top-banner{
    overflow: hidden;
    background-color: #014073;
}
.top-banner .logo{
    width:15% ;
    float: left;
    background-image:url(../images/logo1.png);
    height: 70px;
    background-repeat: no-repeat;
    background-position: left center;
    position: relative;
    background-color: #014073;
    cursor: pointer;
}
.top-banner .nav-bar{
    width:65%;
    float: left;
    height:80px;
    background-color: #014073;
    position: relative;
}
.top-banner .nav-bar ul li{
    display: inline-block;
    
}
.top-banner .nav-bar ul li a{
    display: inline-block;
    padding:30px 25px;
    color:#fff;
    text-decoration: none;
}
.top-banner .nav-bar ul li i.ic{
    padding-left: 4px;
}
.top-banner .detail{
    width:20% ;
    float: left;
    height: 80px;
    position: relative;
}
.top-banner .detail::after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 80px solid #ff9d33;
    border-left: 80px solid transparent;
    display: inline-block;
    margin-left: -80px;
    width: 1200px;
    z-index: 0;

    
}
.top-banner .detail img{
    z-index: 1;
    position: absolute;
    top: 50%;
    left: -15%;
    transform: translate(-50%,-50%);
    padding:20px 0;

}
.top-banner .detail .item{
    z-index: 1;
    padding:15px 0;
    position: absolute;
}
.home{
    height:500px;
    background-color:#1a2330;
}
.home p{
    text-align: center;
    color:#fff;
}
.main{
    margin: 100px 0;
}
.main .left-main{
    float: left;
    width: 70%;
}
.main .left-main .banner-1{
    height:400px;
    background-color:#dddddd;
}
.main .left-main .detail{
    padding-top: 25px;
    overflow: hidden;
}
.main .left-main .detail .item{
    width: 25%;
    float: left;
}
.main .left-main .title{
    margin: 20px 0;
}
.main .left-main .banner-2{
    height:300px;
    width: 100%;
    margin: 10px 0;
}
.main .left-main .banner-2 .content .item{
    background-color:#dddddd;
    height:100%;
    width: 100%;
}
.main .left-main .banner-2 .content{
    width: 50%;
    height:100%;
    float: left;
    padding: 0 15px;
}
.main .left-main .info{
    width: 100%;
    float: left;
    margin: 15px 0;
}
.main .left-main .info p{
    padding:10px 0;
}
.main .left-main .text-bg{
    float:left;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    border:1px solid #fff;
    box-shadow:1px 1px 2px 1px;
    
}
.main .left-main .text-bg .icon{
    position: absolute;
    top: 10%;
    left:3%;
    transform: translate(-10%,-3%);
    
}
.main .left-main .text-bg .text{
    position: absolute;
    left:42%;
    top:50%;
    transform:translate(-42%,-50%);
}
.main .left-main .function{
    margin-top: 30px;
    padding:40px 0;
    float: left;
    width: 100%;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.main .left-main .function-1{
    width: 50%;
    float: left;
}
.main .left-main .function-1 p{
    display:inline-block;
}
.main .left-main .author{
    float: left;
    width: 100%;
    border-bottom: 1px solid gray;
    padding: 40px 0;
    background-image: url(../images/john-doe-b11.png);
    background-repeat: no-repeat;
    background-position: left center;
}
.main .left-main .author .text{
    padding-left: 120px;
}
.main .left-main .comment{
    float: left;
    width: 100%;
    margin-top: 120px;
}
.main .left-main .comment .full-comment{
    background-image: url(../images/john-doe-b11.png);
    background-repeat: no-repeat;
    background-position:65px center;
    overflow: hidden;
    margin-bottom: 30px;
    padding-left: 50px;

} 
.main .left-main .full-comment .item{
    padding-left: 140px;
    padding-top: 20px;
}

.main .left-main .comment .full-comment .bold{
    float: left;
    width: 20%;
    font-size: 20px;
    font-weight: bold;
    color:#014073;
}
.main .left-main .bottom-form .form-content{
    float: left;
    box-sizing: border-box;
    width: 33.3333%;
    padding:40px 10px 0 10px;
}
.main .left-main .bottom-form .form-control{
    width: 100%;
    padding:15px;
}
.main .left-main .bottom-form .text-area{
    width: 300%;
    padding: 10px 15px;
}
.main .left-main .bottom-form .btn{
    float: left;
    width: 100%;
    padding-top: 20px;
}
.main .left-main .bottom-form .btn a{
    display: inline-block;
    background-color: #014073;
    color:#fff;
    padding:10px 30px;
    text-decoration: none;
    border-radius: 5px;

}
.main .center-main{
    float: left;
    width: 3%;
    color:#fff;
}
.main .right-main{
    float: left;
    width: 27%;
}
.main .right-main .search-bar{
    background-color:#f3f3f3;
    padding:15px;
    position: relative;
}
.main .right-main .search-bar .btn{
    position: absolute;
    font-size: 20px;
    color:#fff;
    background-color: #ff9d33;
    border:1px solid #fff;
    top: 100%;
    left: 100%;
    transform: translate(-100%,-100%);
    cursor: pointer;
}
.main .right-main .categories{
    margin-top: 30px;
}
.main .right-main .categories .item p{
    padding: 20px 0;
    display: inline-block;
}
.main .right-main .categories .item .number{
    float: right;
}
.main .right-main .categories .item i.ic{
    padding-right: 5px;
}
.main .right-main .recent-post{
    width: 100%;
    margin-top: 20px;
}
.main .right-main .recent-post .content{
    width: 100%;
    height: 33.3333%;
    padding:20px 0;
    overflow: hidden;
}
.main .right-main .recent-post .content .bg{
    width: 50%;
    height:100%;
    float: left;
    box-sizing: border-box;
    padding-top: 20px;
}
.main .right-main .recent-post .content .bg .color{
    background-color:#dddddd;
    width: 100%;
    height:100px;
}
.main .right-main .recent-post .content .text{
    width: 50%;
    height:100%;
    float: left;
    box-sizing: border-box;
    padding-left: 10px;
    padding-top: 20px;
}
.main .right-main .tags{
    margin-top: 20px;
}
.main .right-main .circle{
    padding-bottom: 5px;
    overflow: hidden;;
}
.main .right-main .circle p{
    float: left;
    width: 33.3333%;
    box-sizing: border-box;
    border: 1px solid gray;
    background-color:#edeeef;
    border-radius: 50px;
    text-align: center;
    padding: 10px 5px;
    
}
.main .right-main .ins{
    margin-top:30px;
    width: 100%;
}
.main .right-main .ins .col{
    padding: 5px 0;
    width: 100%;
    overflow: hidden;
}
.main .right-main .ins .col .row{
    float: left;
    box-sizing: border-box;
    height:70px;
    width: 25%;
    padding: 0 5px;
}
.main .right-main .ins .col .row .content{
    width: 100%;
    height:100%;
    background-color: #dddddd;
}
.footer-background{
    background-color:#014073;
    overflow: hidden;
    float: left;
    width: 100%;
    position: relative;
    margin-top: 40px;
}
.footer-background .logo-item{
    width: 30%;
    float: left;
}
.footer-background .link-item{
    width: 40%;
    float: left;
}
.footer-background .recent-item{
    width:30% ;
    float: left;
} 
.footer-background .input .form-control{
    padding:20px 20px;
    background-color: #014073;
    border: 1px solid #fff;
    width: 75%;
    outline:none;
    color:#fff;
}
.footer-background .input i{
    font-size: 40px;
    padding: 8px 9px;
    border: 1px solid lightgrey;
    color:#fff;
    background-color:#ff9d33;
    position: absolute;
    cursor: pointer;
}
.footer-background .link-item .link1{
    width: 50%;
    float: left;
}
.footer-background .link-item .link1 ul li{
    display: block;
}
.footer-background .link-item .link1 ul li a{
   display: block;
    text-decoration: none;
    color:#fff;
    padding:15px;
    font-size: 14px;
}

.footer-background .recent-item .bottom-item{
    width: 100%;
    padding-bottom: 25px;
    float: left;
}
.footer-background .recent-item .bottom-item .img{
    width: 40%;
    float: left;
    background-color:#dddddd;
    height:100px;
}
.footer-background .recent-item .bottom-item .title{
    width: 60%;
    float: left;
    padding-left: 20px;
    color:#fff;
}
.footer-background .recent-item .bottom-item .title .date{
    padding-top: 35px;
    color:#ff9d33;
}
.footer-banner{
    background-color:#013864;
    overflow: hidden;
    float: left;
    width: 100%;
}
.footer-banner .content{
    float: left;
    width: 85%;
    padding:30px 0;
}
.footer-banner .icon{
    float: left;
    width: 15%;
    padding:25px 0 0 25px;
}
.footer-banner .icon .img{
    float: left;
    width: 5%;
    padding:0 25px 50px 25px;
}
.footer-banner .icon .img-1{
    background-image: url(../images/footer-icon1.png);
    background-repeat: no-repeat;
}
.footer-banner .icon .img-2{
    background-image: url(../images/footer-icon2.png);
    background-repeat: no-repeat;
}
.footer-banner .icon .img-3{
    background-image: url(../images/footer-icon3.png);
    background-repeat: no-repeat;
}




