*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif ;
    font-size:smaller;
}
.center{
    width: 1200px;
    margin: 0 auto;
}
.top{
    background-color:#131313;
}
.top .item ul li{
    display: inline-block;
    font-size:10px;
    position: relative;
}
.top .item ul li a{
    display:inline-block;
    text-decoration: none;
    color:#fff;
    padding:10px;
   
}
.top .item ul li ul{
    position: absolute;
    background-color:#014073;
    top:100%;
    z-index: 8;
    width: 90px;
    padding:5px 10px;
    display: none;
}
.top .item ul li:hover ul{
    display: block;
}
.top .item ul li ul li:hover a{
    color:blue;
}
.top .item ul li ul li{
    width: 100%;
}
.top .item .li1{
    background-image: url(../images/egypt.png);
    background-repeat: no-repeat;
    background-position:2% center;
    background-size:20px;
    padding-left: 20px;
}
.top .item .li2{
    background-image: url(../images/kuwait.png);
    background-repeat: no-repeat;
    background-position:2% center;
    background-size:20px;
    padding-left: 20px;
}
.top .item .li3{
    background-image: url(../images/uae.png);
    background-repeat: no-repeat;
    background-position:2% center;
    background-size:20px;
    padding-left: 20px;
}
.top .item i.ic{
    padding-right: 5px;
}
.top-banner{
    background-color: #014073;
    width: 100%;
    float: left;
}
.top-banner .logo{
    width:15% ;
    float: left;
    background-image:url(../images/logo1.png);
    height: 70px;
    background-repeat: no-repeat;
    background-position: left center;
    position: relative;
    background-color: #014073;
    cursor: pointer;
    padding-right: 10px;
}
.top-banner .nav-bar{
    width:65%;
    float: left;
    height:80px;
    background-color: #014073;
    position: relative;
}
.top-banner .nav-bar ul li{
    display: inline-block;
    position: relative;
    
}
.top-banner .nav-bar ul li:hover .a1{
    color:blue;
}
.top-banner .nav-bar ul li a{
    display: inline-block;
    padding:30px 25px;
    color:#fff;
    text-decoration: none;
}
.top-banner .nav-bar ul li i.ic{
    padding-left: 4px;
}
.top-banner .detail{
    width:20% ;
    float: left;
    height: 80px;
    position: relative;
}
.top-banner .detail::after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 80px solid #ff9d33;
    border-left: 80px solid transparent;
    display: inline-block;
    margin-left: -80px;
    width: 399px;
    z-index: 0;
}
.top-banner ul li ul{
    position: absolute;
    background-color:#014073;
    top:100%;
    z-index:3;
    width: 130px;
    display: none;
}

.top-banner ul li:hover ul{
    display: block;
}
.top-banner ul li ul li:hover a{
    color:blue;
}
.top-banner .detail img{
    z-index: 1;
    position: absolute;
    top: 50%;
    left: -15%;
    transform: translate(-50%,-50%);
    padding:20px 0;

}
.top-banner .detail .item{
    z-index: 1;
    padding:15px 0;
    position: absolute;
}
.home{
    height:500px;
    background-color:#1a2330;
    background-image: url(https://robbreport.com/wp-content/uploads/2019/09/sabre-plane.jpg?w=1000);
    background-repeat: no-repeat;
    background-size: cover;
}
.home p{
    text-align: center;
    color:#fff;
}
.year-experience{
    overflow: hidden;
    background-color:#fff;
    padding: 100px 0 50px 0;
}
.year-experience .img{
    width: 50%;
    float: left;
}
.year-experience .text{
    width: 50%;
    float: left;
}
.year-experience .button a{
    padding:10px 20px;
    text-decoration: none;
    color:#fff;
    background-color:#ff9d33;
    border: 1px solid gold;
    display: inline-block;
}
.we-are{
    overflow: hidden;
    padding-left: 120px;
}
.we-are .item{
    float: left;
    width: 30%;
}
.we-are .item p{
    padding:15px 0;
    color:#838791;
}
.we-are .border{
    border: 1px solid #ccd9e3;
    padding:20px 40px 20px 30px;
    margin: 0 10px;
}
.all-time{
    background-color:#464646;
    overflow: hidden;
}
.all-time .container{
    width: 800px;
    margin: 0 auto;
}
.all-time .text{
    text-align: center;
    padding-top: 100px;
}
.all-time .item{
    float: left;
    width: 20%;
    padding:50px 0;
    text-align: center;
    box-sizing: border-box;
    
}
.all-time .item h3{
    padding: 30px 0 15px 0;
    color:#fff;
}
.all-time .item p{
    color:#cecece;
}
.all-time .item i{
    padding:50px 0;
    border: 3px solid #ff9d33;
    border-radius:100%;
    width: 100px;
    height:10px;
    font-size:34px;
    background-color:#464646;
    color:#fff;
   
}
.travel-guide .boxes{
    width: 100%;
    height:300px;
    overflow: hidden;
}
.travel-guide .text p{
    padding-bottom: 15px;
}
.travel-guide .boxes .box{
    float: left;
    width: 25%;
    height:100%;
    padding:0 15px;
    box-sizing: border-box;
    margin-top: 20px;
}
.travel-guide .boxes .box img:hover{
    opacity: 0.8;
}
.travel-guide .boxes .box .button{
    padding:60px 0 10px 10px;
}
.travel-guide .boxes .box .button a{
    display: inline-block;
    text-decoration: none;
    padding:15px 40px;
    border: 1px solid #fff;
    background-color:#ff9d33;
    color:#fff;
}

.travel-guide .boxes .box .content{
    width: 100%;
    height: 100%;
    background-color:#dddddd;
}
.travel-guide .boxes .box .content img{
    width: 100%;
    height: 100%;
}
.travel-guide .boxes .box .content-text p{
    padding: 10px 0 10px 15px;
    color:#fff;
}
.travel-guide .boxes .box .content .icon i{
    padding:10px 10px 10px 15px;
    font-size:15px;
    color:#fff;
}
.main .item img{
    width: 100%;
    height:350px;
}
.main .item img:hover{
    opacity: 0.8;
    cursor: pointer;
}
.owl-nav{
    position: absolute;
    top: 45%;
    left:0;
    width: 100%;
    transform: translateY(-45%);
    font-size:60px;
    color:#fff;
}
.owl-prev{
    float: left;
}
.owl-next{
    float: right;
}
.owl-dots{
    margin:20px 0;
}
.footer-background{
    background-color:#014073;
    overflow: hidden;
    float: left;
    width: 100%;
    position: relative;
}
.footer-background .logo-item{
    width: 30%;
    float: left;
}
.footer-background .link-item{
    width: 40%;
    float: left;
}
.footer-background .recent-item{
    width:30% ;
    float: left;
} 
.footer-background .input .form-control{
    padding:20px 20px;
    background-color: #014073;
    border: 1px solid #fff;
    width: 75%;
    outline:none;
    color:#fff;
}
.footer-background .input i{
    font-size: 40px;
    padding: 8px 9px;
    border: 1px solid lightgrey;
    color:#fff;
    background-color:#ff9d33;
    position: absolute;
    cursor: pointer;
}
.footer-background .link-item .link1{
    width: 50%;
    float: left;
}
.footer-background .link-item .link1 ul li{
    display: block;
}
.footer-background .link-item .link1 ul li a{
   display: block;
    text-decoration: none;
    color:#fff;
    padding:15px;
    font-size: 14px;
}

.footer-background .recent-item .bottom-item{
    width: 100%;
    padding-bottom: 25px;
    float: left;
}
.footer-background .recent-item .bottom-item .img{
    width: 40%;
    float: left;
    background-color:#dddddd;
    height:100px;
}
.footer-background .recent-item .bottom-item .img img{
    width: 100%;
    height: 100%;
}
.footer-background .recent-item .bottom-item .title{
    width: 60%;
    float: left;
    padding-left: 20px;
    color:#fff;
}
.footer-background .recent-item .bottom-item .title .date{
    padding-top: 35px;
    color:#ff9d33;
}
.footer-banner{
    background-color:#013864;
    overflow: hidden;
    float: left;
    width: 100%;
}
.footer-banner .content{
    float: left;
    width: 85%;
    padding:30px 0;
}
.footer-banner .icon{
    float: left;
    width: 15%;
    padding:25px 0 0 25px;
}
.footer-banner .icon .img{
    float: left;
    width: 5%;
    padding:0 25px 50px 25px;
}
.footer-banner .icon .img-1{
    background-image: url(../images/footer-icon1.png);
    background-repeat: no-repeat;
}
.footer-banner .icon .img-2{
    background-image: url(../images/footer-icon2.png);
    background-repeat: no-repeat;
}
.footer-banner .icon .img-3{
    background-image: url(../images/footer-icon3.png);
    background-repeat: no-repeat;
}



